<template id="modal">
    
  <style>
    #backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.75);
      z-index: 10;
      opacity: 0;
      pointer-events: none;
    }

    #modal {
      position: fixed;
      top: 15vh;
      left: 25%;
      width: 50%;
      background: white;
      z-index: 100;
      opacity: 0;
      pointer-events: none;
      padding: 1rem;
    }

    :host([opened]) #backdrop,
    :host([opened]) #modal {
      opacity: 1;
      pointer-events: all;
    }

    ::slotted(h1) {
      color: purple;
      font-size: 1.25rem;
      margin: 0;
    }

    ::slotted(#message) {
      color: red;
    }

    #btn-cancel {
      background-color: var(--cancel-bg-color, orange);
    }

    #btn-ok {
      background-color: var(--ok-bg-color, green);
    }

    /* PRACTICE 3.a: transition: Add fade in/out effect with a transition */
    :host([opening]) #modal {
    }
    :host([closing]) #modal {
    }
    /* PRACTICE 3.b: Create the jump-in animation that goes right then center, starting from the bottom */
    @keyframes jump-in {
    }
    /* PRACTICE 3.b: Add the animation */
    :host([opening]) #modal {
    }
    :host([closing]) #modal {
    }
  </style>

  <div id="backdrop"></div>
  <div id="modal">
    <slot name="title">Header Slot</slot>
    <slot><span id="message">Default Slot</span></slot>
    <button id="btn-cancel">Cancel</button>
    <button id="btn-ok">OK</button>
  </div>

</template>
